<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/product.css">
</head>
<body class="goto-here">

    <%- include('../includes/top.ejs') %>
    
    <%- include('../includes/nav.ejs') %>

    <%- include('../includes/slider.ejs') %>
  
    <%- include('../includes/services.ejs') %>

    <%- include('../includes/category.ejs') %>
  
    <%- include('../includes/featured-products.ejs') %>
          
    <%- include('../includes/deal-of-the-day.ejs') %>
  
    <%- include('../includes/testimonial.ejs') %>
  
    <hr>

    <%- include('../includes/clients.ejs') %>
      
    <%- include('../includes/newsletter.ejs') %>
      
    <%- include('../includes/footer.ejs') %>
  
    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>
  
<%- include('../includes/end.ejs') %>